In [6]:
import pandas as pd

In [7]:
data=pd.read_excel("Covid_Data _2.xlsx")
veri=data.copy()
veri.head()

,Unnamed: 0,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,2020-01-04,AF,Afganistan,EMR,NaN,0,NaN,0
1,1,2020-01-04,DZ,Cezayir\n,AFR,NaN,0,NaN,0
2,2,2020-01-04,AL,Arnavutluk,EUR,NaN,0,NaN,0
3,3,2020-01-04,AI,Anguılla\n,AMR,NaN,0,NaN,0
4,4,2020-01-04,AS,Amerika Samoası\n,WPR,0.0,0,0.0,0

In [8]:
veri.drop(columns=["Unnamed: 0","WHO_region","Cumulative_deaths"],inplace=True)
veri.head()

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths
0,2020-01-04,AF,Afganistan,NaN,0,NaN
1,2020-01-04,DZ,Cezayir\n,NaN,0,NaN
2,2020-01-04,AL,Arnavutluk,NaN,0,NaN
3,2020-01-04,AI,Anguılla\n,NaN,0,NaN
4,2020-01-04,AS,Amerika Samoası\n,0.0,0,0.0

In [9]:
veri.dropna(subset=["Country"],inplace=True)

In [10]:
veri.fillna(0,inplace=True)

In [11]:
veri.isnull().sum()

Date_reported       0
Country_code        0
Country             0
New_cases           0
Cumulative_cases    0
New_deaths          0
dtype: int64

In [12]:
veri.to_excel("Covid_Data _3 (Hazır Veri).xlsx")